* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body,
.background,
.blog,
.newsletter-section {
  background-color: #000000;
}

.home button,
.nav-item button,
.btn,
.copyright,
.icon {
  background-color: #f15412;
}

.home button,
.navbar-brand,
.navbar-brand:hover,
.nav-link,
.nav-link:hover,
.nav-item button,
.home,
.container,
.form-text,
.newsletter,
.team,
.footer,
.copyright {
  color: #fff;
}

.home button,
.nav-item button {
  border-radius: 10px;
  border: 1px solid #f15412;
}

.home button {
  width: 200px;
  margin-top: 5%;
  height: 50px;
  font-size: 20px;
}

.background {
  background: url(images/bg-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

/* navbar */
.navbar {
  padding-top: 2.5%;
}

.navbar-brand span {
  color: #f15412;
  font-family: "Splash", cursive;
  font-size: 3rem;
}

.navbar-brand {
  margin-left: 8%;
  font-size: 3rem;
}

.navbar-toggler {
  background-color: #343a40;
}

.navbar-nav {
  margin-right: 10%;
}

.nav-link {
  margin-left: 30px;
  margin-right: 30px;
}

.home {
  margin-right: 70%;
  text-align: left;
  margin-top: 400px;
  margin-left: 5%;
}

/* blog */
.blog {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  border-radius: 10px;
  height: 300px;
  width: 600px;
  text-align: center;
  box-shadow: 2px 2px 2px 3px #f15412;
  margin: 3% 2% 0 2%;
}

.blog-img {
  height: 120px;
  width: 120px;
  margin-top: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 2px #f15412;
}

/* newsletter */
.newsletter-section {
  background: url(images/bg2-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
}

.newsletter {
  height: 280px;
  width: 400px;
  border-radius: 10px;
  margin-left: 5%;
  padding-top: 200px;
}


/* Team */
.team {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}

.team-img {
  height: 200px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 2px #f15412;
  border-radius: 50%;
}

/* Footer */
.footer {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 4%;
}

.row {
  margin-bottom: 8%;
}

.column1 {
  padding-right: 8%;
}

.column2 {
  text-align: right;
}

.column3 {
  text-align: center;
}

.icon {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 20px;
}
@media only screen and (max-width: 1300px) {
  .navbar-brand{
    margin-left: 4%;
  }
  .navbar-nav {
    margin-right: 20%;
  }
  .nav-link {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container{
    width: 500px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar-nav {
    margin-right: 16%;
  }
  .nav-link {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .navbar-nav {
    margin-right: 10%;
  }
  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
    html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .navbar-nav {
    margin-right: 0%;
  }
  .nav-link {
    margin-left: 25px;
    margin-right: 10px;
  }
  .home button {
    width: 160px;
    margin-top: 4%;
    height: 40px;
    font-size: 18px;
  }
  .home {
    margin-right: 50%;
  }
  .newsletter {
    height: 350px;
    width: 250px;
    padding-top: 220px;
  }
  .newsletter-section{
    height: 700px;
  }
}
@media only screen and (max-width: 370px) {
    html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }
   .navbar-brand{
    margin-left: 0%;
    font-size: 1.7rem;
  }
  .navbar-brand span{
    font-size: 2.2rem;
  }
  .nav-link{
    font-size: 16px;
  }
  .home button {
    width: 140px;
    font-size: 16px;
  }
  .container{
    width: 340px;
  }
  .newsletter-section{
    height: 500px;
  }
}
